# Backend API URL
VITE_API_URL=https://sentiment-analysis-backend-5y0y.onrender.com

# Firebase Web App Config (from Firebase Console → Project Settings → Your Apps)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=video-sentiment-analysis-bcd33.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=video-sentiment-analysis-bcd33
VITE_FIREBASE_STORAGE_BUCKET=video-sentiment-analysis-bcd33.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
